body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f0f0f0;
}

header,
footer,
header h1 {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 2em;
}

h1,
h2 {
  color: #1862ac;
}

.projecten article {
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.projecten a {
  text-decoration: none;
  color: #004080;
}

section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

